{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			<h1>About Us</h1>
			Safaribook is a social blog where people get to discuss and share stories and experiences. The aim of this platform is to inform, entertain and educate the populace as well as to keep in touch with reality on the ground. Stories are grouped by categories and one can opt to read and be informed or post his/her stories for the benefit of the group members. Posts must be courteous and informative. Any posts that violate these rules and regulations will be removed and the users deactivated from this platform. There will also be periodic blogs that will focus on teaching python and django so that we all grow towards becoming better python developers. Stay informed...
		</div>
	</div>

</div>
	
{% endblock %}